// box shadow
$box-shadow : 2px 4px 10px 1px rgba(201,201,201,0.47);
$webkit-box-shadow: 2px 4px 10px 1px rgba(156, 154, 154, 0.47);
$moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.82);

// flex
$flex: 3;

// border-width
$border-width: 0.2px solid rgb(206, 205, 205);
$border-radius: 4px;
$btn-border-padding: 10px;

// logo
$logo-color: rgba(255,0,0,0.8); 

// icons
$icon-color: rgb(64, 64, 150);
$icon-logo: rgb(64, 64, 150);
$icon-size: 12px;

// font size
$font-size-xsm: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 19px;
$font-size-xlg: 27px;
$font-size-logo: 30px;

// font-color
$font-black: black;
$font-gray: rgb(230, 223, 223);

// btn
$border-btn: 0.1px solid rgb(216, 182, 182);
$add-btn-color: rgb(180, 103, 103);
$add-border-width:  0.1px solid rgb(247, 243, 243);
