@import '../../variables/variables.scss';

.hero{
    box-shadow: $box-shadow;
    padding: 1rem;
    .wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 0.6rem;
        align-items: center;
        margin-block: 4rem;
        .left{
            justify-self: start;
            text-align: start;
            h2{
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 1rem;
            }
            button{
                background-color: $logo-color;
                color: rgba(255,255,255,0.9);
                border-radius: 4px;
                padding: 0.5rem;
                margin-top: 1rem;
            }
        }
        .right{
            overflow: hidden;
            img{
                border-radius: 5px;
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}